body {
    height: 100%;
    background-image: url("https://wallpaper.dog/large/10842671.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container{
    margin-top: 60px;
    border-radius: 15px;
  }
  .card-fotos{
    color: white;
    background-color: black;
  }
  .card-text{
    font-size: 12px;
  }
  .img-fluid{
    padding: 5px;
  }