.container-footer{
    background-color: black;
    margin-top: 50px;
}
.footer-info h3{
    text-align: center;
    margin-top: 20px;
    margin: 20px;
    color: white;
    font-weight: bold;
    font-family: var(--font-poppins);
}
div .list{
    text-align: center;
}
.iconos{
    text-align: center;
    color: white;
    font-size: 45px;
}